

/*Setup footer*/
html, body{
	margin:0px;
	width:100%;
	height:100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.content{
	width: 85%;
	margin: auto;
}
/*Custom dropdown*/
nav ul a:hover{
	/*@extend  .light-blue,.darken-1;*/
  background-color: #0288d1 !important;
	color:white;
}
nav ul li a:hover{
	background-color: #fff;
  -moz-box-shadow: inset 0 -2px 0 0 #ff9800;
  -webkit-box-shadow: inset 0 -2px 0 0 #ff9800;
  box-shadow: inset 0 -2px 0 0 #ff9800;
}

/*Alineamientos*/
.top-space{
  margin-top: 10px;
}
.margin-bottom{
  margin-bottom: 15px;
}
.top-space-medium{
  margin-top: 25px;
}
/*Paddings*/
.no-padding{
  padding: 0px !important;
}
.padding-navbar-top{
	padding-top:50px;
}
/*search*/
#input-src {
  display: none;
  max-width: 200px;
  background-color: white;
  color: black;
  border-radius: 2px;
  vertical-align: middle;
  margin-top: 8px;
  float: right;
  display: block;
  font-weight: 300;
  width: 100%;
  height: 32px;
  padding: 0px 45px 0px 15px;

}
#icon-search, #close-src{
  cursor: pointer;
  position: relative;
  margin-top: -68px;
  color: black;
  float: right;
  padding: 0px 20px;
}
#close-src{
  padding: 0px 0px !important;
  background-color: transparent !important;
  box-shadow: inset 0 -2px 0 0 transparent;
}
#div-src {
  display: none;
  margin-top: 8px;
  padding-right: 10px;
}
#btn-src {
  display: none;
}

/*Custom tab*/
.tabs .tab a{
  color: white;
}
.tabs .tab a:hover, .tabs .tab a.active{
  color: #eeeeee;
}
.tabs .indicator{
  background-color: #fb8c00;
}
/* label focus color */
.input-field input[type=text]:focus + label, input[type=password]:focus + label {
  color: #ff9800 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, input[type=password]:focus {
  border-bottom: 1px solid #ff9800 !important;
  box-shadow: 0 1px 0 0 #ff9800 !important;
}
/* valid color */
.input-field input[type=text].valid, input[type=password].valid {
  border-bottom: 1px solid #ff9800 !important;
  box-shadow: 0 1px 0 0 #ff9800 !important;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #e53935;
  box-shadow: 0 1px 0 0 #e53935;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ff9800 ;
}
[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after{
  border-color: #e0e0e0;
}
[type="checkbox"]:checked + label:before{
    border-right: 2px solid #ff9800;
    border-bottom: 2px solid #ff9800;
}
#test5{
  color: #fff !important;
}